html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Monserrat";
  src: local("monserrat-regular"),
    url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monserrat";
  src: local("monserrat-semi-bold"),
    url("../fonts/montserrat-semi-bold.woff2") format("woff2"),
    url("../fonts/montserrat-semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monserrat";
  src: local("monserrat-bold"),
    url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monserrat";
  src: local("monserrat-extra-bold"),
    url("../fonts/montserrat-extra-bold.woff2") format("woff2"),
    url("../fonts/montserrat-extra-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #f90;
  --color-light-orange: #ffb84d;
  --color-dark-orange: #e16707;
  --color-grey: #666;
  --color-light-grey: #cacaca;
}

.page {
  min-width: 320px;
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.margin-reset {
  margin: 0;
}

.container {
  max-width: 1800px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 20px 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 16px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.22;
  background-color: var(--color-orange);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  background-color: var(--color-light-orange);
  outline: none;
}

.btn:hover {
  background-color: var(--color-light-orange);
}

.btn:active {
  background-color: var(--color-dark-orange);
}

.section-title {
  margin-bottom: 32px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.22;
}

.section-small-offset {
  margin-bottom: 50px;
}

.section-big-offset {
  margin-bottom: 100px;
}

/* header header header header header header header header header header header header header header header header */
.header {
  padding-top: 13px;
  padding-bottom: 11px;
  border-radius: 0 0 32px 32px;
  color: var(--color-black);
  background-color: var(--color-white);
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 85px;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: calc(100% - 1034px);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 85px;
  -webkit-transform: translateX(-1px);
      -ms-transform: translateX(-1px);
          transform: translateX(-1px);
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  outline: 2px solid transparent;
  outline-offset: 5px;
  -webkit-transition: outline-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: outline-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: outline-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-color: var(--color-orange);
}

.nav__link:focus::before {
  opacity: 0;
}

.nav__link:hover::before {
  opacity: 1;
}

.nav__link:active {
  color: var(--color-dark-orange);
  outline-color: transparent;
}

.nav__link:active::before {
  background-color: var(--color-dark-orange);
  opacity: 1;
}

.header__loupe {
  font-size: 0;
  outline: 2px solid transparent;
  outline-offset: 4px;
  -webkit-transition: outline-color 0.3s ease-in-out;
  -o-transition: outline-color 0.3s ease-in-out;
  transition: outline-color 0.3s ease-in-out;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.loupe {
  stroke: var(--color-black);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.loupe__leg {
  fill: var(--color-black);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__loupe:focus {
  outline-color: var(--color-orange);
}

.header__loupe:hover {
  outline-color: transparent;
}

.header__loupe:hover .loupe {
  fill: none;
  stroke: var(--color-orange);
}

.header__loupe:hover .loupe__leg {
  fill: var(--color-orange);
}

.header__loupe:active {
  outline-color: transparent;
}

.header__loupe:active .loupe {
  fill: none;
  stroke: var(--color-black);
}

.header__loupe:active .loupe__leg {
  fill: var(--color-black);
}

/* hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero hero */
.hero__container {
  margin-bottom: 50px;
}

.hero__wrapper {
  padding-top: 100px;
  padding-bottom: 99px;
  padding-left: 80px;
  border-radius: 32px;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 837px;
}

.hero__title {
  margin-bottom: 24px;
  color: var(--color-white);
  font-weight: 800;
  font-size: 70px;
  line-height: 1.22;
}

.hero__descr {
  margin-bottom: 89px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.22;
}

.btn--hero {
  padding: 25px 39px;
  font-size: 23px;
}

/* about us about us about us about us about us about us about us about us about us about us about us about us */
.main {
  margin-bottom: 100px;
}

.section-title--about-us {
  margin-bottom: 20px;
}

.about-us__descr {
  margin-bottom: 50px;
  max-width: 1235px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  --offsets: 2;
}

.wrapper--about-us {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  padding: 65px 115px 65px 60px;
  width: 869px;
  border: 1px solid;
  border-color: var(--color-light-grey);
  border-radius: 32px;
  word-break: break-word;
}

.card--column {
  -ms-flex-preferred-size: 295px;
      flex-basis: 295px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card--big {
  min-height: 622px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.card--small {
  width: calc((100% - var(--offsets) * 32px) / (var(--offsets) + 1));
  padding: 63px 60px;
}

.card__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 238px;
  min-height: 165px;
  background-size: 190px 165px;
  background-repeat: no-repeat;
  background-position: left center;
}

.card__text-wrapper--with-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  max-width: 100%;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.card__text {
  margin-right: auto;
  padding-right: 14px;
  max-width: 443px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
}

.btn--about-us {
  padding: 16px 36px;
  border: 3px solid var(--color-orange);
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn--about-us:focus {
  background-color: var(--color-orange);
  outline: none;
}

.btn--about-us:hover {
  background-color: var(--color-orange);
}

.btn--about-us:active {
  border-color: var(--color-dark-orange);
  background-color: var(--color-dark-orange);
}

.img-worker {
  background-image: url("../img/worker.jpg");
  background-position: center;
}

.img-hidden-before-320 {
  display: none;
}

.img-circle-box {
  background-image: url("../img/circle&box.svg");
}

.img-circle-gear {
  background-image: url("../img/circle&gear.svg");
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.card__title {
  margin-bottom: 8px;
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.22;
}

.card__descr {
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

/* steps steps steps steps steps steps steps steps steps steps steps steps steps steps steps steps steps steps steps */
.steps {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.steps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 30px;
}

.steps__info {
  width: calc((100% - 30px) / 2);
  padding-right: 112px;
}

.steps__squeezer {
  width: calc((100% - 30px) / 2);
  padding-top: 9px;
}

.steps__img {
  width: 100%;
  height: 100%;
  border-color: transparent;
  border-radius: 32px;
  background-image: url("../img/steps-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.steps-card__title {
  margin-bottom: 8px;
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}

.steps-card__text {
  margin-bottom: 18px;
}

.steps-card__text-display {
  display: block;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.btn--white {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  font-weight: 400;
  background-color: var(--color-white);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn--white:focus {
  border-color: var(--color-grey);
  color: var(--color-white);
  background-color: var(--color-grey);
  outline: none;
}

.btn--white:hover {
  border-color: var(--color-grey);
  color: var(--color-white);
  background-color: var(--color-grey);
}

.btn--white:active {
  border-color: var(--color-black);
  color: var(--color-white);
  background-color: var(--color-black);
}

/* questions questions questions questions questions questions questions questions questions questions questions  */
.questions {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

/* footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer  */
.footer {
  padding-top: 50px;
  padding-bottom: 42px;
  background-color: var(--color-black);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper--nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__wrapper-nav {
  padding-right: calc((100% - var(--offsets) * 32px - 570px) / var(--offsets) - 252px);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.logo-white {
  display: block;
  margin-bottom: 20px;
  font-size: 0;
}

.nav--footer {
  margin-bottom: 90px;
}

.wrapper--footer {
  gap: 0;
}

.nav__link--footer {
  color: var(--color-light-grey);
  line-height: 2;
  outline: 2px solid transparent;
  outline-offset: 5px;
  -webkit-transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}

.nav__item--footer:hover .nav__link::before {
  opacity: 0;
}

.nav__item--footer:active .nav__link::before {
  opacity: 0;
}

.nav__link--footer:focus {
  color: var(--color-light-grey);
  outline-color: var(--color-orange);
}

.nav__link--footer:hover {
  color: var(--color-orange);
}

.nav__link--footer:active {
  color: var(--color-dark-orange);
  outline-color: transparent;
}

.wrapper--minigap {
  gap: 25px;
}

.social-link {
  font-size: 0;
}

.social-link__image {
  width: 60px;
  height: 60px;
  fill: var(--color-grey);
  outline: 2px solid transparent;
  outline-offset: 5px;
  -webkit-transition: fill 0.3s ease-in-out, outline-color 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out, outline-color 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}

.social-link:focus {
  outline: none;
}

.social-link:focus .social-link__image {
  outline-color: var(--color-orange);
}

.social-link:hover .social-link__image {
  fill: var(--color-orange);
  outline-color: transparent;
}

.social-link:active .social-link__image {
  fill: var(--color-dark-orange);
  outline-color: transparent;
}

.footer__wrapper-form {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.section-title--form {
  margin-bottom: 25px;
  color: var(--color-light-grey);
}

.form {
  padding: 0;
  border: none;
}

.wrapper--input {
  width: 100%;
}

.form__input {
  padding: 14px 24px;
  border: transparent;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  background-color: #414141;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
  background-color: var(--color-grey);
  outline: none;
}

.form__input:hover {
  background-color: var(--color-grey);
}

.form__input:active {
  background-color: var(--color-grey);
}

.form__input::-webkit-input-placeholder {
  color: var(--color-light-grey);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.form__input::-moz-placeholder {
  color: var(--color-light-grey);
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.form__input:-ms-input-placeholder {
  color: var(--color-light-grey);
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.form__input::-ms-input-placeholder {
  color: var(--color-light-grey);
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.form__input::placeholder {
  color: var(--color-light-grey);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.form__input:active::-webkit-input-placeholder {
  color: var(--color-white);
}

.form__input:active::-moz-placeholder {
  color: var(--color-white);
}

.form__input:active:-ms-input-placeholder {
  color: var(--color-white);
}

.form__input:active::-ms-input-placeholder {
  color: var(--color-white);
}

.form__input:active::placeholder {
  color: var(--color-white);
}

.form__input--textarea {
  min-height: 150px;
  resize: none;
}

.btn--form {
  padding: 19px 52px;
}

.wrapper--microgap {
  gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.custom-checkbox__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-checkbox__text {
  position: relative;
  padding-left: 18px;
  color: var(--color-light-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-light-grey);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url("../img/green-check-mark.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.custom-checkbox__input:checked + .custom-checkbox__text::after {
  opacity: 1;
}

.custom-checkbox__input:focus + .custom-checkbox__text {
  outline: 1px solid var(--color-orange);
  outline-offset: 4px;
}

.footer__text {
  padding-left: calc((100% - var(--offsets) * 32px - 570px) / var(--offsets) - 363px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--color-light-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
